<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>姓: <input type="text" v-model="num"></p>
        <p>名: <input type="text" v-model="num2"></p>
         <p> <input type="text" v-model="name" @input="ck"></p>
        <div>{{ent()}}</div>
        <!-- <div>插值语法{{this.num+'-'+this.num2}}</div> -->
    </div>
</body>
<script>
    Vue.config.productionTip = false
    new Vue({
        el:"#app",
        data() {
            return {
                num:"张",//姓
                num2:"三",//名
               name:""
            }
        },
        methods: {
            // ent(){
            //     this.name=this.num+'-'+this.num2
            //     return this.num+'-'+this.num2
            // },
            // ck(){
            //     let str=this.name.split('-')
            //     this.num=str[0]
            //     this.num2=str[1]
            // }

            // ent(){
            //     this.name=this.num+'-'+this.num2
            //     return this.num+'-'+this.num2
            // },
            // ck(){
            //     let str=this.name.split('-')
            //     this.num=str[0]
            //     this.num2=str[1]
            // }
            ent(){
                this.name=this.num+'-'+this.num2
                return this.num+'-'+this.num2
            },
            ck(){
                let str=this.name.split('-')
                this.num=str[0]
                this.num2=str[1]
            }
        },
    })
</script>
</html>