<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">

        <p>姓: <input type="text" v-model="num"></p>
        <p>名: <input type="text" v-model="num2"></p>
        <p> <input type="text" v-model="res"></p>
        <div>{{res}}</div>
    </div>
</body>
<script>
    Vue.config.productionTip = false
    new Vue({
        el: "#app",
        data() {
            return {
                num: "李",
                num2: "四",
                res: ""
            }
        },
        //   watch: {
        //     num: {
        //         handler(newVal, oldVal) {
        //             setTimeout(() => {
        //                 this.res=newVal+'-'+this.num2
        //             }, 1000)
        //         },
        //     },
        //     num2:{
        //        handler(newVal,oldVal){
        //         this.res=this.num+'-'+newVal
        //        }
        //     },
        //     res:{  
        //         // 一进入页面立即监听
        //         immediate:true,
        //         handler(newVal,oldVal){
        //             if(!newVal&&!oldVal){
        //                 this.num=this.num+'-'+this.num2
        //             }else{let str=newVal.split('-')
        //             this.num=str[0]
        //             this.num2=str[1]
        //             this.res=this.num+'-'+this.num2
        //             }
        //         }
        //     }
        //   },


        // watch: {
        //     num: {
        //         handler(newVal, oldVal) {
        //             setTimeout(() => {
        //                 this.res=newVal+'-'+this.num2
        //             }, 1000)
        //         },
        //     },
        //     num2:{
        //        handler(newVal,oldVal){
        //         this.res=this.num+'-'+newVal
        //        }
        //     },
        //     res:{  
        //         immediate:true,
        //         handler(newVal,oldVal){
        //             if(!newVal&&!oldVal){
        //                 this.num=this.num+'-'+this.num2
        //             }else{let str=newVal.split('-')
        //             this.num=str[0]
        //             this.num2=str[1]
        //             this.res=this.num+'-'+this.num2
        //             }
        //         }
        //     }
        //   },
        watch: {
        num: {
            handler(newVal, oldVal) {
                setTimeout(() => {
                    this.res=newVal+'-'+this.num2
                }, 1000)
            },
        },
        num2:{
           handler(newVal,oldVal){
            this.res=this.num+'-'+newVal
           }
        },
        res:{  
            immediate:true,
            handler(newVal,oldVal){
                if(!newVal&&!oldVal){
                    this.num=this.num+'-'+this.num2
                }else{let str=newVal.split('-')
                this.num=str[0]
                this.num2=str[1]
                this.res=this.num+'-'+this.num2
                }
            }
        }
      },
    })
</script>

</html>