<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
          <input type="text" v-model="num">
          <input type="text" v-model="num2">
        <p>{{num+'-'+num2}}</p>
        <p>{{num+'-'+num2}}</p>
        <p>{{num+'-'+num2}}</p>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data() {
            return {
                num:"1",
                num2:"4",
                
            }
        },
    })
</script>
</html>